.eventCard {
  position: relative;
  display: flex;
  overflow: hidden;
  background: transparent;
  justify-content: center;

  margin: 1rem;

  width: 20rem;
  height: auto;

  &__info {
    width: 95%;
    height: auto;
    bottom: 0;

    flex: 1;
    background: #111111;
    color: white;
    border-radius: 2rem;
    position: relative; /* Changed to relative to grow with content */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure content starts from the top */
    align-items: center;

    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    padding: 0.3rem;
    padding-bottom: 1rem; /* Add padding to prevent content from touching the border */
  }

  &__name {
    z-index: 2;
    margin: 0.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
  }

  &__description {
    z-index: 2;
    font-size: 1rem;
    width: fit-content;
    border-radius: 1rem;
    padding: 0.5rem 2rem 0.2rem 2rem;
    text-align: center;
  }

  &__dates {
    z-index: 2;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0rem 0.5rem;
    border-radius: 1rem;
  }

  &__cercatrivies {
    z-index: 2;
    font-size: 1rem;
    margin-top: 0.5rem;
    ul {
      list-style-type: disc;
      padding-left: 1.5rem;
      text-align: left;
    }
  }

  &__rewards, &__allRewards {
    margin-top: 1rem;
    z-index: 2;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.42);
    color: white;
    border-radius: 1rem;
    padding: 2rem 1rem;
    padding-bottom: 0rem;
    text-align: left;
    width: 90%; /* Ensure the rewards section doesn't overflow */
  }

  &__allRewards {
    background: rgba(0, 0, 0, 0.42);
  }

  &__image {
    width: 100%;
    height: auto; /* Allow height to be dynamic */
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 0.3rem;
    border-radius: 2rem 2rem 0 0;

    img {
      width: 100%;
      height: auto; /* Ensure the image is fully displayed */
      object-fit: contain; /* Ensure the image is fully displayed without cropping */
      transition: transform 0.3s ease;
      background: transparent;

      animation: fadeIn 1s; -webkit-animation: fadeIn 1s; -moz-animation: fadeIn 1s; -o-animation: fadeIn 1s; -ms-animation: fadeIn 1s;
    }
  }

  @keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-ms-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

  /* ---------------------------------------------------- Update Button ---------------------------------------------------- */
  .updateButton {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    top: 0.8rem;
    right: 0.8rem;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .updateButton:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
  }

  /* ---------------------------------------------------- Rewards ---------------------------------------------------- */
  .eventCard__rewards {
    margin-top: 1rem;
  }

  .rewardLine {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* White background */
    border-radius: 1rem; /* Rounded border */
    margin-bottom: 2rem; /* Adjust as needed */
    padding: 0.5rem;
    position: relative; /* Ensure overflow images are correctly positioned */
    overflow: visible; /* Allow children to overflow */
    height: 2rem;
  }

  .rewardImagesContainer {
    display: flex;
    align-items: center; /* Ensure children are centered */
    position: relative; /* Positioning context for overflow */
  }

  .rewardImage, .coinIcon {
    flex-shrink: 0; /* Prevent shrinking */
    height: 3rem; /* Fixed size for the reward image */
    margin-right: 0.5rem; /* Adjust spacing */
  }

  .rewardImage {
    margin-left: -0.5rem;
  }

  .coins {
    color: #111111;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 0.5rem;
  }

  .coinIcon {
    height: 1.5rem;
    margin-right: 0.5rem;
  }

  .digitalProductImageWrapper {
    position: relative; /* Required for positioning label */
    margin: 0rem 0.5rem;
    display: flex; /* Flex display to align items */
    align-items: center; /* Center items vertically */
  }

  .digitalProductImage, .digitalProductText {
    scale: 0.35;
    margin-right: 3rem;
    border-radius: 0.5rem;
    animation: fadeIn 1s;
    position: relative; /* Allow overflow positioning */
    top: 0; /* Adjust to vertically center */
    z-index: 1; /* Ensure it is above other elements */
  }

  .digitalProductText {
    width: 25rem;
    margin-left: -8.5rem;
    margin-right: -8rem;
  }

  .digitalProductImageLabel {
    position: absolute;
    top: -2rem; /* Adjust as needed */
    left: 50%; /* Align label horizontally */
    transform: translateX(-50%); /* Center label horizontally */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem; /* Adjust padding as needed */
    font-size: 0.8rem;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
    z-index: 2; /* Ensure it is above the image */
  }

  .digitalProductImageWrapper:hover .digitalProductImageLabel {
    opacity: 1;
  }

  // ------------------------------------------------ Cercatrivies ------------------------------------------------
  &__cercatrivies {
    z-index: 2;
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .cercatriviaItem {
      padding: 1rem;
      width: 7rem;
      height: 6rem;
      text-align: center;
      position: relative;

      .circleBackground {
        width: 5rem;
        height: 5rem;
        background: #eee;
        border-radius: 50%;
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }

      .icon {
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border-radius: 50%;
        padding: 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
      }

      .date {
        width: fit-content;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.2rem;
        font-size: 1.3rem;
        font-weight: 700;
      }

      .daysRemaining {
        width: fit-content;
        position: absolute;
        padding: 0rem 0.5rem;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.6rem;
        font-size: 0.8rem;
        font-weight: 500;
        background: yellow;
        color: black;
      }

      transition: transform 0.3s ease;
    }
    .cercatriviaItem:hover {
      transform: scale(1.1);
    }

    // ------------------------------------------------ x2 Reward ------------------------------------------------
    .x2rewardLine {
      width: fit-content;
      position: absolute;
      bottom: 0rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      padding: 0.5rem;
      padding-right: 0rem;
      height: 2rem;
      animation: scaleUpDown 1s infinite; -moz-animation: scaleUpDown 1s infinite; -webkit-animation: scaleUpDown 1s infinite; -o-animation: scaleUpDown 1s infinite; -ms-animation: scaleUpDown 1s infinite;
    }

    .x2coins {
      color: #111111;
      font-size: 1.8rem;
      font-weight: 850;
      margin-right: 0.4rem;
    }


    @keyframes scaleUpDown { 0%, 100% { transform: scale(1); } 50% { transform: scale(1.1); } }
    @-moz-keyframes scaleUpDown { 0%, 100% { transform: scale(1); } 50% { transform: scale(1.1); } }
    @-webkit-keyframes scaleUpDown { 0%, 100% { transform: scale(1); } 50% { transform: scale(1.1); } }
    @-o-keyframes scaleUpDown { 0%, 100% { transform: scale(1); } 50% { transform: scale(1.1); } }
    @-ms-keyframes scaleUpDown { 0%, 100% { transform: scale(1); } 50% { transform: scale(1.1); } }
  }
}
