.collaCard {
  position: relative;

  .updateButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    img {
      width: 40px;
      height: 40px;
    }
  }

  padding: 1rem;
  overflow: hidden;
  background: #f8f1f1;
  color: #000088;

  &__name {
    margin-top: 0.5em;
    font-size: 2.5rem;
    font-weight: 900;
  }

  &__entity {
    margin-top: 0.5em;
    font-size: 1.5rem;
    font-style: italic;
  }

  &__foundation-year {
    margin-top: 0.5em;
    font-size: 0.5rem;
  }

}