.sectionContainer {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content (optional) */
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 60rem));
  gap: 1rem;
  padding: 1rem 4rem;
  margin-top: 4rem;
}
