.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem 4rem 1rem 4rem;
}

.h1 {
  font-style: normal;
  font-weight: 1200;
  font-size: 2.5rem;
  padding: 1rem 4rem 1rem 4rem;
}
.h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 1.875rem;
  padding: 1rem 4rem 1rem 4rem;
}