.collaFiguraCard {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: visible;
  background: transparent;
  color: #000088;

  /* ---------------------------------------------------- Info ---------------------------------------------------- */

  &__info {
    background-color: #0a0a0a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    border-radius: 1em;
  }

  &__nameYearContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__name {
    margin: 0rem 2.3rem 0rem 2.3rem;
    font-size: 3rem;
    font-weight: 900;
    bottom: 0;
    position: relative;
  }

  &__year {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__type {
    font-size: 1.2rem;
    background: #1f1f1f;
    border-radius: 10px;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }

  &__webUrl {
    margin: 0.5em;
    font-size: 1rem;
  }

  .h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    padding: 1rem;
  }

  /* ---------------------------------------------------- Buttons ---------------------------------------------------- */

  .updateButton {
    position: relative;
    background-color: #0a0a0a;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-bottom: 0.3rem;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
      height: 60%;
    }
  }
  .updateButton:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
  }
  .outerLink {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    img {
      width: 3rem;
      height: 3rem;
    }
  }
  .updateButton {
  }

  .outerLink {
  }

  /* ---------------------------------------------------- Figura Image ---------------------------------------------------- */
  &__imageWrapper {
    display: flex;
    flex-direction: column;
    overflow: visible;
    background: transparent;
  }

  &__imageGegant, &__imageGeganto, &__imageCapgros, &__imageBestia {
    position: relative;
    background: transparent;
    transition: transform 0.3s ease;
    z-index: 2;
    width: 20rem;
    height: 40rem;
    overflow: visible;

    animation: fadeIn 1s; -webkit-animation: fadeIn 1s; -moz-animation: fadeIn 1s; -o-animation: fadeIn 1s; -ms-animation: fadeIn 1s;
  }
  &__imageGegant {}
  &__imageGeganto {
    transform-origin: bottom;
    transform: scale(0.7);
  }
  &__imageCapgros {
    transform-origin: bottom;
    transform: scale(0.6);
  }
  &__imageBestia {}

  &__imageGegant img, &__imageGeganto img, &__imageCapgros img, &__imageBestia img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    transition: transform 0.8s ease;

  }

  @keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
  @-ms-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

  &__imageGegant img:hover, &__imageGeganto img:hover, &__imageCapgros img:hover, &__imageBestia img:hover {
    animation: figuraAnimation 1s infinite alternate;
  }

  @keyframes figuraAnimation {
    0% { transform-origin: bottom; transform: translateY(0rem) rotate(0deg); }
    25% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(-5deg);}
    50% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
    75% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(5deg);}
    100% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
  }
  @-moz-keyframes figuraAnimation {
    0% { transform-origin: bottom; transform: translateY(0rem) rotate(0deg); }
    25% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(-5deg);}
    50% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
    75% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(5deg);}
    100% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
  }
  @-webkit-keyframes figuraAnimation {
    0% { transform-origin: bottom; transform: translateY(0rem) rotate(0deg); }
    25% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(-5deg);}
    50% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
    75% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(5deg);}
    100% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
  }
  @-o-keyframes figuraAnimation {
    0% { transform-origin: bottom; transform: translateY(0rem) rotate(0deg); }
    25% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(-5deg);}
    50% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
    75% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(5deg);}
    100% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
  }
  @-ms-keyframes figuraAnimation {
    0% { transform-origin: bottom; transform: translateY(0rem) rotate(0deg); }
    25% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(-5deg);}
    50% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
    75% {transform-origin: bottom;transform: translateY(-1.4rem) rotate(5deg);}
    100% {transform-origin: bottom;transform: translateY(0rem) rotate(0deg);}
  }
}