.userCard {
  position: relative;
  display: flex;
  overflow: hidden;
  background: transparent;
  justify-content: center;

  width: 20rem;
  height: 25rem;

  margin-top: -4rem;

  &__info {
    width: 95%;
    height: 70%;
    bottom: 0;

    flex: 1;
    background: #111111;
    color: white;
    border-radius: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }

  &__nickname {
    z-index: 2;
    margin: 0.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-allign: center;
  }

  &__name {
    font-size: 1.2rem;
    color: #f8f8f8;
  }

  &__surnames {
    font-size: 1rem;
    color: #7e7e7e;
  }

  &__roles {
    font-size: 1rem;
    color: #333333;
  }

  .updateButton{
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    top: 0.8rem;
    right: 0.8rem;
    img {
      width: 30px;
      height: 30px;
    }
  }

  /* ---------------------------------------------------- Selected Elements ---------------------------------------------------- */

  .selectedElements {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
  }

  .selectedElementCombined {
    border-radius: 1rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    display: flex;
    align-items: center;
  }

  .selectedRole {
    padding: 0.2rem 0.6rem;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    align-items: center;

  }

  .selectedColla {
    padding: 0.2rem 0.6rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
  }

  /* ---------------------------------------------------- Additional Detail Styles ---------------------------------------------------- */

  &__aImage {
    left: 0;
  }
  &__image {
    scale: 0.8;
  }

  &__aImageFrame {
    left: 0;
  }
  &__imageFrame {
    scale: 0.8;
  }

  &__aBackgroundImage {
    top: 10rem;
  }
  &__backgroundImage {

  }

  &__aTitle {
    position: absolute;

  }
  &__title {
    left: -5rem;
    top: 6rem;
    scale: 0.7;
  }
}
