.passwordStrengthDisplay {
  position: relative;
  display: flex;
  flex-direction: column;

  .passwordStrengthSlider {
    width: 100%;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;

    .sliderFill {
      height: 100%;
      background-color: #ccc;
      transition: width 0.3s ease-in-out;
    }
  }

  .strengthMessage {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }
}
