.collaPage {
  position: relative;

  .outerLink {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    img {
      width: 30px;
      height: 30px;
    }
  }

  .updateButton {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    img {
      width: 30px;
      height: 30px;
    }
  }

  .backPrimaryColourPanelHorizontal, .backPrimaryColourPanelVertical {
    position: fixed;
    right: 0;
    width: 500%;
    height: 200%;
    z-index: -2;
    transform-origin: bottom right;
    transform: rotate(-45deg) translate(50%, 50%);
  }
  .backPrimaryColourPanelVertical {
    bottom: -80%;
  }
  .backPrimaryColourPanelHorizontal {
    bottom: 0;
  }

  .backSecondaryColourPanel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: -1;
  }


  overflow: hidden;
  background: transparent;
  color: #000000;

  &__name {
    margin-top: 0.5em;
    font-size: 4rem;
    font-weight: 900;
  }

  &__entity {
    margin-top: -0.5em;
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
  }

  &__foundationYear {
    margin-top: -0.3em;
    font-size: 3rem;
    font-weight: 800;
    transform: scaleX(0.7);
    transform-origin: left; /* Set transform origin to the left side */
  }

  &__descriptionLight, &__descriptionDark {
    position: fixed;
    margin-top: 0.5em;
    font-size: 1rem;
    bottom: 5%;
    font-size: 1rem;
  }

  &__descriptionLight {
    color: white;
  }

  &__descriptionDark {
    color: black;
  }

  &__type {
    margin-top: 0.5em;
    font-size: 1rem;
  }

  &__neighbourhood {
    margin-top: 0.5em;
    font-size: 1rem;
  }

  &__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    overflow: hidden;
    margin-top: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
  }

  &__music {
    margin-top: 0.5em;
    font-size: 1rem;
  }

  &__email {
    margin-top: 0.5em;
    font-size: 1rem;
  }

  &__instagram {
    margin-top: 0.5em;
    font-size: 1rem;
  }

  &__figures {
    margin-top: 0.5em;
    font-size: 1rem;
  }

  .h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    padding: 1rem;
  }

  .colorCircles {
    display: flex;
    justify-content: left;
    margin-top: 10px;
  }

  .colorCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 5px;
  }

  .imagePreviewContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .imagePreview {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    overflow: hidden;
  }

  .imagePreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ---------------------------------------------------- Selected Figures ---------------------------------------------------- */

  &__figuresContainer {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: flex;
    flex-wrap: nowrap; /* Ensure figures stay in a single line */
    padding: 10px 0; /* Optional: Add padding for spacing */
  }

  &__figuresWrapper {
    display: flex;
    gap: 0;
  }
  /* ---------------------------------------------------- Page wrapper ---------------------------------------------------- */
  .pageWrapper {
    display: flex;
    flex-direction: column; /* Stack items vertically by default */

    @media (min-width: 768px) {
      flex-direction: row; /* Arrange items side by side on wider screens */
    }
  }

  .leftContent, .rightContent {
    width: 100%; /* Initially, each content section occupies full width */
  }

  .leftContent {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 768px) {
    .leftContent {
      padding-left: 5rem;
      padding-right: 2rem;
      width: 50%; /* Left content takes 50% width on wider screens */
      order: 1; /* Display left content first in the flex order */
    }

    .rightContent {
      width: 50%; /* Right content takes 50% width on wider screens */
      order: 2; /* Display right content second in the flex order */
    }
  }

}