@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 5, 40;
  --background-start-rgb: 220, 254, 255;
  --background-end-rgb: 249, 236, 255;
}

body {
  color: #1f1f1f;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  padding: 1rem;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 1rem;
}

.centralLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
